<div class="element">
    <div class="clearfix grpelem" id="u1902-4"><!-- content -->
        <p id="u1902-2">{{ service.name }}</p>
    </div>
    <div class="clearfix grpelem" id="u1891-4"><!-- content -->
        <p id="u1891-2">{{ service.price }}</p>
    </div>
    <div class="clearfix grpelem" id="u1884-4"><!-- content -->
        <p id="u1884-2">{{ service.lead_time }}</p>
    </div>
    <a href="edit_service.html/{{ service.id }}" class="museBGSize grpelem" id="u1886"><!-- simple frame --></a>
</div>