{% block content %}
<div class="left_dvig">
    <div class="grpelem" id="u482"></div>
    <div class="rounded-corners grpelem" id="u476"></div>
    <div class="clearfix grpelem" id="u485-4">
     <p>Владислав Снигерёв</p>
    </div>
    <div class="clearfix grpelem" id="u488-6">
     <p id="u488-2">парикмахер 5 разряда</p>
     <p id="u488-4">&quot;Возьмусь за ваши волосы и бороду как за свою собственную&quot;</p>
    </div>
    <a class="anchor_item grpelem" id="masters" data-sizePolicy="fixed" data-pintopage="page_fluidx"></a>
    <div class="grpelem" id="u518"></div>
    <div class="clearfix grpelem" id="u503-4">
     <p>наши волшебники</p>
    </div>
    <div class="grpelem" id="u1649"></div>
</div>
{% endblock %}