{% block content %}
<div class="left_dvig">
    <div class="grpelem" id="u482"></div>
    <div class="rounded-corners grpelem" id="u476" style="background: transparent url({{ master.picture }}) no-repeat center center;"></div>
    <div class="clearfix grpelem" id="u485-4">
     <p>{{ master.name }}</p>
    </div>
    <hr />
    <div class="clearfix grpelem" id="u488-6">
     <p id="u488-2">парикмахер {{ master.qualification }} разряда</p>
     <p id="u488-4">&quot;{{ master.description }}&quot;</p>
    </div>
    <a class="anchor_item grpelem" id="masters" data-sizePolicy="fixed" data-pintopage="page_fluidx"></a>
</div>
{% endblock %}